.signInForm {
  align-items: center;
}
.submitBtn {
  border: none;
  cursor: pointer;
  height: 1.5rem;
  width: 4.5rem;
  color: var(--colWhite);
  margin-top: 1rem;
}
.formLink {
  text-decoration: underline;
}
.signInPara {
  font-size: 0.85rem;
}
.signUpMsgContainer {
  margin-top: 1rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--font-black);
}
.signupMsgLink {
  text-decoration: underline;
}
